body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('backgrond.jpg');
     background-size:cover;background-repeat: no-repeat;
    background-position: center; height: 100vh;
	background-color: rgba(238,238,238,255);
}


.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #274C77;
    color: white;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: flex-end; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

section h2 {
    text-align: center;
}

.randulaBerugoda{
    text-align: center;
    color: #274C77;
    font-weight: bolder;
    font-size: 3vw; 
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    letter-spacing: 1.4vw;	
}

hr.hr {
   border: 2px solid #274C77;
   width: 40%;
   border-radius: 10px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content img {
    width: 250px;
    border-radius: 50%;
    margin-right: 20px;
}

footer {
    background-color: #274C77;
    color: white;
    text-align: center;
    padding: 40px 0; 
    position: relative;
    bottom: 0;
    width: 100%;
}

.copy{
	font-size: 1vw;
}

footer .row {
    display: flex;
    justify-content: center;
}

footer .row a {
    color: white;
    margin: 0 10px;
    transition: color 0.3s;
	font-size: 28px;
}

footer .row a:hover {
    color: black; 
}




#education {
    padding: 50px 0;
}

.education-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.education-item img {
    width: 100px; 
    margin-right: 20px;
}

.edu-description {
    flex: 1;
}

.edu-description h3 {
    margin-top: 0;
}

.edu-description p {
    margin-bottom: 0;
}


@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.education-item {
    opacity: 0; 
}

.education-item.visible {
    opacity: 1; 
    animation: slideInFromLeft .5s ease forwards; 
}


 
      
  .contact-button {
            display: inline-block;
            padding: 15px 30px;
            font-size: 18px;
            background-color: #FF6347;
            color: white;
            text-decoration: none;
            border-radius: 10px;
            transition: background-color 0.3s, transform 0.3s;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
			 position: absolute;left: 44%;
   
        }

       
        .contact-button:hover {
            background-color:#FF7F50 ; 
            transform: translateY(-5px) rotateX(10deg); 
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); 
        }




#projects {
    overflow-x: auto; 
    white-space: nowrap; 
}

.project {
    width: 200px;
    height: 200px;
    margin: 10px;
    display: inline-block; 
    position: relative;
    overflow: hidden;
    border: 3px solid #274C77; transition: transform 0.5s ease;
    border-radius: 20px;background-color: #44916F; 
}
.project:hover {
    transform: scale(1.1);
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; 
}

.project:hover .overlay {
    opacity: 1;
}
.project-details {
    text-align: center;
}

.project-details h3 {
    font-size: 14px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
    margin-top: 19%; 
    color: white;
}


.circle {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
     margin: 10px auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}





html {
    scroll-behavior: smooth;
    transition-duration: 0.5s;
}




.github-button {
  color: #ff004d;
  border: none;
  padding: 10px 40px; 
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.github-button::after {
  content: ' >>>';
  position: absolute;
  top: 24%; 
  left: calc(87% ); 
  transform: translateY(-50%);
  font-size: 24px;
  line-height: 1;
  transition: left 0.3s ease; 
  animation: arrowAnimation 1.5s infinite linear;
}

.github-button:hover::after {
  left: calc(100% + 10px); 
}

.github-button:focus {
  outline: none;
}

.github-button:focus::after {
  left: calc(100% + 10px); 
}

@keyframes arrowAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 600px) {
  .contact-button {
    left: 31%; 
  }
}


#icons {
    display: flex;
    justify-content: center; 
}

.material-symbols-outlined {
    font-size: 70px;
    color: #808080; 
    margin-right: 20px;
}
@media only screen and (max-width: 768px) {
    .material-symbols-outlined {
        font-size: 40px; 
        margin-right: 10px; 
    }
}


#h3,#h4 ,#h5, #h6{
    color:  #274C77;}
